// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td p{
	cursor:pointer;
	text-decoration:underline;
}

.ui-dialog{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}